<!--The content below is only a placeholder and can be replaced.-->

<div fxLayout="column"
     fxFlexFill>
  <!--<mat-toolbar>-->
    <!--<span>My Application</span>-->
  <!--</mat-toolbar>-->
  <mat-toolbar color="primary">
    <div>
      <a mat-button
         [routerLink]="['/category']"
         routerLinkActive="router-link-active">

        <span>Категории</span>
      </a>
      <a mat-button
         [routerLink]="['/product']"
         routerLinkActive="router-link-active">
        <span>Товары</span>
      </a>


    </div>
  </mat-toolbar>
  <div fxFlex="grow">
    <router-outlet></router-outlet>
  </div>



  <!--<footer fxFlex="24px"-->
          <!--fxLayoutAlign="center center">-->
    <!--<p class="copyright">&copy; {{ year }} - Исполнитель Ибрагимов Бекбол</p>-->
  <!--</footer>-->
</div>

