/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.basic-container {
  padding: 30px;
}

.version-info {
  font-size: 8pt;
  float: right;
}


html, body {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  height: 100%;
  min-width: 1280px;
  min-height: 600px;
}

footer{
  background-color: #00695c;
  color: white;

}
