
  <h1>
    Добавить категорию
  </h1>
  <div fxLayout.gt-sm="row" fxLayoutGap.gt-sm="32px">
    <mat-form-field fxFlex>
      <input matInput [(ngModel)]="category" placeholder="Название категории" type="text" required>
    </mat-form-field>
  </div>

  <button mat-button (click)="addProp()">Добавить свойства товара</button>
  <div fxLayout.gt-sm="row" fxLayoutGap.gt-sm="32px"
       *ngFor="let prop of ps; index as i">


    <mat-form-field fxFlex>
      <input matInput [(ngModel)]="propertys[i]" placeholder="Свойства {{i+1}}" type="text"  required>
    </mat-form-field>

  </div>
  <!--{{i + 1}}-->
  <button mat-button (click)="saveData()">Сохранить</button>

