<div>
  <mat-form-field>
    <mat-select placeholder="Выберите категорию"  (selectionChange)="getProperty()" [(ngModel)]="categoryId">
      <mat-option *ngFor="let category of categorys" [value]="category.id" >
        {{category.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <!--this.getProperty()-->

  <button mat-button (click)="openDialog()">Добавить Товар</button>
  <!--<button mat-button (click)="test()">Тест!</button>-->
  <div *ngIf="showTable">
    <mat-table #table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="{{column.id}}" *ngFor="let column of columnNames">
        <mat-header-cell *matHeaderCellDef mat-sort-header> {{column.name}} </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element[column.id]}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row  *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
</div>
