<div>
  <button mat-button (click)="openDialog()">Добавить категорию</button>
  <mat-table #table [dataSource]="dataSource" matSort>
    <!--<ng-container matColumnDef="{{column.id}}" *ngFor="let column of columnNames">-->
      <!--<mat-header-cell *matHeaderCellDef mat-sort-header> {{column.value}} </mat-header-cell>-->
      <!--<mat-cell *matCellDef="let element"> {{element[column.id]}} </mat-cell>-->
    <!--</ng-container>-->

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> ИД </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element['id']}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Название </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element['name']}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="ddd">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Удалить </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-button (click)="deleteCategory(element);">Удалить!</button>
      </mat-cell>
    </ng-container>





    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

</div>
