<h1>
  Добавить товар
</h1>
<div fxLayout.gt-sm="row" fxLayoutGap.gt-sm="32px">
  <mat-form-field fxFlex>
    <input matInput [(ngModel)]="name" placeholder="Название" type="text" required>
  </mat-form-field>
</div>

<div fxLayout.gt-sm="row" fxLayoutGap.gt-sm="32px">
  <mat-form-field fxFlex>
    <input matInput [(ngModel)]="description" placeholder="Описание" type="text" required>
  </mat-form-field>
</div>

<div fxLayout.gt-sm="row" fxLayoutGap.gt-sm="32px">
  <mat-form-field fxFlex>
    <input matInput [(ngModel)]="price" placeholder="Цена" type="number" required>
  </mat-form-field>
</div>

<div fxLayout.gt-sm="row" fxLayoutGap.gt-sm="32px"
     *ngFor="let prop of propertys; index as i">

  <mat-form-field fxFlex>
    <input matInput [(ngModel)]="propertys[i].value" placeholder="{{propertys[i].name}}" type="text"  required>
  </mat-form-field>

</div>
<!--{{i + 1}}-->
<button mat-button (click)="saveData()">Сохранить</button>
